@import ../../../variables

.order-page__result
	width: 25%
	padding: 10px 0 0 60px
	display: flex
	flex-direction: column
	animation-name: show2
	animation-duration: .7s 
	h2
		text-align: right
		font-weight: 500
		font-size: 18px
		margin-bottom: 30px
	p
		padding: 15px 0
	button
		width: 100%
		@include mainbtn ($GREEN, #039F67)
		animation-name: show2
		animation-duration: 1s
		&.red
			@include mainbtn (#493013, #7B0C3B)
		&.disabled-btn
			background: $LGRAY
			color: #ffffff
			cursor: default
			&:hover
				box-shadow: none

@keyframes show2
	0%
		opacity: .5
		transform: translateX(40px)
	50%
		transform: translateX(-10px)
	100%
		opacity: 1

.relust__item
	display: flex
	justify-content: space-between
	font-size: 14px
	align-items: flex-end
	margin-bottom: 15px
	span
		&:nth-child(1)
			color: $BLACK
			width: 50%
			font-weight: 300
		&:nth-child(2)
			color: $GRAY
			font-weight: 300
			text-align: right