@import ../../../variables

.content
	width: 50%
	padding: 40px 0
	min-width: 400px
	display: flex
	flex-direction: column
	justify-content: space-between
.content__header
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 64px
	a
		color: $GREEN
		font-size: 30px
		font-weight: 700
	span
		font-size: 14px
		color: $GRAY
		font-weight: 400
		display: flex
		align-items: center
		svg
			width: 15px
			margin-right: 5px
.content__desription
	display: flex
	flex-direction: column
	line-height: 1
	margin-bottom: 68px
	padding: 0 64px
	a
		align-self: flex-start
	h2
		font-size: 70px
		color: $BLACK
		font-weight: 700
		animation-name: slidetext
		animation-duration: .4s
	h1
		font-size: 70px
		color: $GREEN
		font-weight: 700
		animation-name: slidetext
		animation-duration: .6s
	>span
		font-size: 26px
		color: $GRAY
		font-weight: 300
		margin: 30px 0 60px
		animation-name: slidetext
		animation-duration: 0.8s
	button
		@include mainbtn ($GREEN, #039F67)
		width: 250px
		animation-name: slidetext
		animation-duration: 1s
		
.content__footer
	display: flex
	justify-content: space-between
	font-size: 13px
	padding: 0 64px
	span
		color: $GRAY
	a
		color: $BLACK
		transition: 0.2s linear
		&:hover
			color: $GREEN
	
@keyframes slidetext
	0%
		opacity: .5
		transform: translateX(80px)
	100%
		opacity: 1
