.more
	span
		display: block
		font-size: 14px
		font-weight: 300
		margin-bottom: 20px
.more__colors
		display: flex
.more__date
	width: 252px
	display: flex
	flex-direction: column
	align-items: flex-end
	position: relative
	margin-bottom: 20px